<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
@*<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>*@
<title>Five Star Hotel | Gallery</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="~/Content/style.css" rel="stylesheet" type="text/css" />
<link href="~/Content/layout.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/maxheight.js" type="text/javascript"></script>
<!--[if lt IE 7]>
<link href="ie_style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="ie_png.js"></script>
<script type="text/javascript">ie_png.fix('.png, #header .row-2, #header .nav li a, #content, .gallery li');</script>
<![endif]-->
@*</head>
<body id="page3" onload="new ElementMaxHeight();">*@
   
  <!-- header -->
@* <div id="header" class="small">
    <div class="row-1">
      <div class="wrapper">
        <div class="logo">
          <h1><a href="#">Five Star</a></h1>
          <em>Hotel</em> <strong>True Luxury</strong> </div>
       <div class="phones"><input type="text" name="search" placeholder="search"/>
           <input type="submit" value="Search">
      </div>  

         

      </div>
      </div>
    
    <div class="row-2 alt">
      <div class="indent">
        <!-- header-box-small begin -->
        <div class="header-box-small">
          <div class="inner">
            <ul class="nav">
              <li><a href="/UserHome/HomePage" class="current">Home page</a></li>
              <li><a href="/UserServices/Services">Services</a></li>
              <li><a href="/UserGallery/Gallery">Gallery</a></li>
              <li><a href="/UserHome/Restaurant">Restaurant</a></li>
              <li><a href="/UserHome/Testimonials">Testimonials</a></li>
              <li><a href="/UserBooking/Booking">Booking</a></li>
            </ul>
          </div>
        </div>
        <!-- header-box-small end -->
      </div>
    </div>
  </div>*@
  <!-- content -->
  <div id="content">
    <div class="gallery">
      <ul>
        <li><a href="#"><img alt="" src="~/Images/2page-img1.jpg" /></a></li>
        <li><a href="#"><img alt="" src="~/Images/2page-img2.jpg" /></a></li>
        <li><a href="#"><img alt="" src="~/Images/2page-img3.jpg" /></a></li>
        <li><a href="#"><img alt="" src="~/Images/2page-img4.jpg" /></a></li>
        <li><a href="#"><img alt="" src="~/Images/2page-img5.jpg" /></a></li>
        <li><a href="#"><img alt="" src="~/Images/2page-img6.jpg" /></a></li>
      </ul>
    </div>
    <div class="container">
      <div class="aside maxheight">
        <!-- box begin -->
        <div class="box maxheight">
          <div class="inner">
            <h3>Browse Images</h3>
            <div class="gallery-images">
              <ul>
                <li><a href="#"><img alt="" src="~/Images/3page-img1.jpg" /></a></li>
                <li><a href="#"><img alt="" src="~/Images/3page-img2.jpg" /></a></li>
                <li><a href="#"><img alt="" src="~/Images/3page-img3.jpg" /></a></li>
                <li><a href="#"><img alt="" src="~/Images/3page-img4.jpg" /></a></li>
                <li><a href="#"><img alt="" src="~/Images/3page-img5.jpg" /></a></li>
                <li><a href="#"><img alt="" src="~/Images/3page-img6.jpg" /></a></li>
                <li><a href="#"><img alt="" src="~/Images/3page-img7.jpg" /></a></li>
                <li><a href="#"><img alt="" src="~/Images/3page-img8.jpg" /></a></li>
                <li><a href="#"><img alt="" src="~/Images/3page-img9.jpg" /></a></li>
                <li><a href="#"><img alt="" src="~/Images/3page-img10.jpg" /></a></li>
                <li><a href="#"><img alt="" src="~/Images/3page-img11.jpg" /></a></li>
                <li><a href="#"><img alt="" src="~/Images/3page-img12.jpg" /></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- box end -->
      </div>
      <div class="content">
        <div class="indent">
          <h2>Hotel’s picture gallery</h2>
          
          <div class="gallery-main png">
            <div class="inner"> <img alt="" src="~/Images/3page-img13.jpg" />
              <div class="prev"><a href="#"><img alt="" src="~/Images/prev.png" class="png" /></a></div>
              <div class="next"><a href="#"><img alt="" src="~/Images/next.png" class="png" /></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- footer -->
@* <div id="footer">
    <ul class="nav">
      
    </ul>
    <div class="wrapper">
      <div class="fleft">Copyright &copy; 2009 <a href="#">Name Here</a>. All Rights Reserved</div>
      
    </div>
  </div>*@

@*    </body>
</html>*@
